In [48]:
# 8.1 EDA Demonstration

import pandas as pd
%matplotlib inline

In [49]:
# We will store the orders table csv data in a variable
# Tabs are used as the separating character in this file

data_orders = pd.read_csv('orders.csv')

In [50]:
# Use the head method to investigate the first row of data

data_orders.head(1)

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0

In [51]:
# Create a dataframe to view the column names and data types

data_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999991 entries, 0 to 999990
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     999991 non-null  object
 1   order_date   999991 non-null  object
 2   ship_date    999991 non-null  object
 3   ship_mode    999991 non-null  object
 4   customer_id  999991 non-null  object
 5   product_id   999991 non-null  object
 6   sales        999991 non-null  float64
 7   quantity     999991 non-null  int64
 8   discount     999991 non-null  float64
 9   profit       999991 non-null  float64
 10  postal_code  192888 non-null  float64
 11  region_id    999795 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 91.6+ MB

In [52]:
# Use the shape attribute to determine the amount of rows and columns total

data_orders.shape

(999991, 12)

In [53]:
# Use the .columns property to list out the column names
# Use the .index.name property to identify the index

data_orders.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'product_id', 'sales', 'quantity', 'discount', 'profit', 'postal_code',
       'region_id'],
      dtype='object')

In [54]:
# Provide a dictionary to the rename method to rename any columns
# The inplace flag determines whether to modify the original dataframe

data_orders.rename({'discount':'rabais'}, inplace=True)

In [55]:
# Explore columns with column attributes and methods

data_orders['sales'].mean()

245.88588773298963

In [56]:
# 8.2 Exploring a new dataset
# Import the products.csv dataset and explore the following questions:

data_products = pd.read_csv('products.csv')

In [57]:
# A. What are the columns and index: do they suggest any relationship to other tables?
# 'product_id is the primary key here and the connection to the table oders.csv

data_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10292 entries, 0 to 10291
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product_id                10292 non-null  object
 1   category                  10292 non-null  object
 2   sub_category              10292 non-null  object
 3   product_name              10292 non-null  object
 4   product_cost_to_consumer  10292 non-null  float64
dtypes: float64(1), object(4)
memory usage: 402.2+ KB

In [58]:
# B. How many rows of data are there?
data_products.shape

(10292, 5)

In [59]:
# C. What are the types of each column?
data_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10292 entries, 0 to 10291
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product_id                10292 non-null  object
 1   category                  10292 non-null  object
 2   sub_category              10292 non-null  object
 3   product_name              10292 non-null  object
 4   product_cost_to_consumer  10292 non-null  float64
dtypes: float64(1), object(4)
memory usage: 402.2+ KB

In [60]:
# 8.3 Boolean Filtering
# Let's return to the orders dataset for the rest of the challenges
# Use boolean filtering and DataFrame/DataSeries methods to solve the following challenges:

data_orders.head(1)

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0

In [61]:
# A. What is the mean profit of orders where the ship_mode is "Second Class"

data_orders[(data_orders['ship_mode'] == 'Second Class')]['profit'].mean()

1.0517047992899646

In [62]:
# B. Which product is the most commonly ordered on 2017-06-08 

data_orders['product_id'].value_counts().sort_values(ascending=False).head(1)

OFF-AR-10003829    624
Name: product_id, dtype: int64

In [63]:
# 8.4 Sorting and Filtering

In [64]:
# A. What are the three most profitable orders purchased by customer PO-8865?

data_orders[(data_orders['customer_id'] == 'PO-8865')][['order_id', 'order_date','profit']].sort_values(by= 'profit', ascending=False).head(3)

           order_id  order_date  profit
608    AG-2017-2220  2017-12-26  190.80
28981  CA-2017-2910  2017-06-04   65.28
3946   AG-2019-6470  2019-01-13   61.68

In [65]:
# B. What are the five orders of product_id TEC-HEW-10002304 with the highest quantity?

data_orders[(data_orders['product_id'] == 'TEC-HEW-10002304')][['order_id', 'quantity']].sort_values(by='quantity', ascending=False).head(5)

             order_id  quantity
581   AG-2017-1949725         6
889   AG-2017-4980033         6
608      AG-2017-2220         6
1671  AG-2018-4980110         6
1497  AG-2018-3851058         6

## Recap

We covered a lot of ground! It's ok if this takes a while to gel.

```python

# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.Index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df['col1'].nunique() # number of unique values
df['col1'].value_counts() # number of occurrences of each value in column

# filtering
df[ df['col1'] < 50 ] # filter column to be less than 50
df[ (df['col1'] == value1) & (df['col2'] > value2) ] # filter column where col1 is equal to value1 AND col2 is greater to value 2

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest

```


It's common to refer back to your own code *all the time.* Don't hesistate to reference this guide! 🐼